body{
  margin: 0%;
  padding: 0%;
  background: #0F0F0F;
}
.Heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
}
.faculty{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .staatliches-regular-thin {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.font-size1{
    font-size: 970%;
}
.font-size2{
    font-size: 980%;
    color: aliceblue;
}
.gradient-text {
    background: linear-gradient(to right, #FFA566, #FF6E06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.font-size3{
    font-size: 320%;
    color: azure;
}  
.center1{
    margin: 0% 50%;
}
/*Poppins*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
/*poppins*/  
.gap{
    margin-top: -30%
}
.font-size4{
    font-size: 800%;
    color: aliceblue;
}


/* ---------------------------------------------------------------------------------------------------------------------------- */




.container{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(620px, 400px));
  justify-content: center;
  align-items: center;
}
.image-box{
  align-self: center;
}
.project-title{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: -1;
}
.project-img{
  object-fit: cover;
  align-items: center;
  margin: 0% auto;
  transform: scale(0.9);
  height: 100%;
  width: 100%;
}
:hover.image-box{
  transform: scale(1.01);
  transition: transform 0.4s;
}
.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: .75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform .3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform .3s ease-in-out .1s;
  transform: translate(0);
}
.explore_btn{
  margin: 0% 45%;
}
.extra_projects{
 display: none;
}












































.Load_more{
  color: white;
}











